# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Django
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
media/
staticfiles/
local_settings.py

# Virtualenv
venv/
env/
.venv/
.env/

# Environment Variables
.env
.env.*

# IDEs
.vscode/
.idea/
*.swp

# macOS
.DS_Store

# Testing
htmlcov/
.tox/
coverage.xml
.coverage

# Project Specific
test.html
test.py

todo.txt